body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.image-container {
  position: relative;
  max-width: 60%; /* Ensure main image stays within 80% of container */
  max-height: 60%;
  overflow: hidden;
}

#mainImage {
  width: 100%; /* Main image takes the full width of its container */
  height: 100%;
  object-fit: contain;
}

#circleImage {
  position: absolute;
  display: none; /* Hide the circle image initially */
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;  /* Make sure it doesn't interfere with mouse events */
}
